html {
    background-image: linear-gradient(135deg, #F05F57 10%, #360940 100%);
}

body {
    color: white;
}

img {
    height: 128px;
    width: 128px;
}

#header-logo {
    height: 64px;
    width: 64px;
}

.qrcode {
    border: 3px dashed black;
}

p {
    font-family: 'Rubik', sans-serif;
}

.description {
    margin-top: -1.5em;
    line-height: 15px;
}

h1 {
    font-family: 'Calistoga', cursive;
}

h4 {
    font-family: 'Calistoga', cursive;
}