<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>ACME</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Calistoga&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/style.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row" style="margin-top: 10%;">
      <div class="one column"><img id="header-logo" src="images/ravioli.png" /></div>
      <div class="eleven columns"><h1>ACME Supermarket</h1></div>
    </div>

    <div class="row" style="margin-top: 8%;">
      <div class="four columns">
        <h4>Frozen Lasagne</h4>
        <p class="description">The freshest lasagne in town.</p>
        <div class="row">
          <img class="qrcode" src="images/Frozen Lasagne.png" />
        </div>
      </div>
      <div class="four columns">
        <h4>Canned Spaghetti</h4>
        <p class="description">Oh my!</p>
        <div class="row">
          <img class="qrcode" src="images/Canned Spaghetti.png" />
        </div>
      </div>
      <div class="four columns">
        <h4>Spinach Ravioli</h4>
        <p class="description">Tasty!</p>
        <div class="row">
          <img class="qrcode" src="images/Spinach Ravioli.png" />
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 5%; margin-bottom: 5%;">
      <div class="four columns">
        <h4>Macaroni & Cheese</h4>
        <p class="description">Yum!</p>
        <div class="row">
          <img class="qrcode" src="images/Macaroni & Cheese.png" />
        </div>
      </div>
      <div class="four columns">
        <h4>Macaroni & Cheese</h4>
        <p class="description">Yum!</p>
        <div class="row">
          <img class="qrcode" src="images/Macaroni & Cheese.png" />
        </div>
      </div>
      <div class="four columns">
        <h4>Macaroni & Cheese</h4>
        <p class="description">Yum!</p>
        <div class="row">
          <img class="qrcode" src="images/Macaroni & Cheese.png" />
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 5%; margin-bottom: 10%;">
      <div class="four columns">
        <h4>Macaroni & Cheese</h4>
        <p class="description">Yum!</p>
        <div class="row">
          <img class="qrcode" src="images/Macaroni & Cheese.png" />
        </div>
      </div>
      <div class="four columns">
        <h4>Macaroni & Cheese</h4>
        <p class="description">Yum!</p>
        <div class="row">
          <img class="qrcode" src="images/Macaroni & Cheese.png" />
        </div>
      </div>
      <div class="four columns">
        <h4>Macaroni & Cheese</h4>
        <p class="description">Yum!</p>
        <div class="row">
          <img class="qrcode" src="images/Macaroni & Cheese.png" />
        </div>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
